<div class="container-fluid" id="special-thanks">
  <h2 class="h2">Special Thanks</h2>
  <div class="inner-special-thanks">
    <h3 class="h3" [@list2]>For Angular 6 Module</h3>
    <p class="font-weight-bold" [@list1]><span >lector: </span> <span class="font-italic">Ivaylo Kenov</span></p>
    <p class="font-weight-bold" [@list2]><span >lector: </span> <span class="font-italic">Ines Ivanova</span></p>
    <p class="font-weight-bold" [@list1]><span >lector - assistent: </span> <span class="font-italic">Kiril Kirilov</span></p>
    <p class="font-weight-bold" [@list2]><span >lector: </span> <span class="font-italic">Viktor Kostadinov</span> (from other JS modules)</p>
  </div>
</div>
