<div class="container-fluid p-5" id="home">
    <h3 class="h3 text-center">
        Only Authenticated users can watch all board games!
    </h3>
    <h3 class="h3 text-center  pb-2">Please, go to sign in!</h3>
    <div class="inner-home">
      <div *ngIf="!highestGame" style="width: 271px;" class="mx-auto">
        <img src="../../../assets/images/loading.gif">
      </div>
      <div class="mx-auto highestGame" style="width: 271px;" *ngIf="highestGame" >
        <div class="card mb-3 highestGame-shadow">
          <h3 class="card-header">{{highestGame.title}}</h3>
          <img style="height: 300px; width: 271px; display: block;" src="{{highestGame.imageUrl}}" alt="Card image" class="images">
          <div class="card-footer text-muted">
            Rank: {{highestGame.rank}}
          </div>
        </div>
        <div class="card highestGame-shadow">
          <div class="card-body">
            <h4 class="card-title">Poster: {{highestGame.taker}}</h4>
            <h6 class="card-subtitle mb-2 text-muted">Published: {{postedDate}}</h6>
          </div>
        </div>
      </div>
    </div>
</div>

