<div class="container-fluid" id="about">
  <h2 class="h2 text-center">About Section</h2>
  <div class="inner-about">
      <p class="text-left">Welcome to Free Board Games Catalog, the site implement application is done with love, you can view PC games and if you want to add them to your private room.</p>
      <p class="text-left">You can posted each game from the room and it will be visible to all who are authenticated users and will be able to give their raiting.</p>
      <p class="text-left">When you pick up certain points in a raiting, you can free download if you want from your room.</p>
      <p class="text-left text-primary">The site Board Games is created for learning not for a commercial or other purpose!</p>
      <p class="text-left text-primary">To the copyright we reserved the right to delete the games from the site!</p>
      <img class="mx-auto" src="../../../../assets/images/black-dragon-wallpaper.jpg" id="about-dragon">
  </div>

</div>
