
<div  class="container">
      
    <div class="row align-items-center justify-content-center">
        <div class="col-md-12">
            <h1 class="font-weight-bold" style="color: whitesmoke">Your Games Room</h1>
            <p class="font-weight-bold" style="color: whitesmoke">Here is your games!</p>
        </div>
    </div>
    <div *ngIf="noAddMyGames" class="row align-items-center justify-content-center">
            <br/>
            <br/>
            <br/>
            <h1 style="color: yellow"><strong>You have no games added to your section!</strong></h1>
    </div>
    <div class="row"  *ngIf="mygames">
        <div *ngFor="let game of mygames | paginate : {
                id: 'allGames',
                itemsPerPage: pageSize,
                currentPage: currentPage}" class="col-md-4">
            <div class="jumbotron" >
                    <p>{{game.title}}</p>
                    <img src="{{game.imageUrl}}" class="img-thumbnail"/>
                    <p>Rank: {{game.rank}}</p> 
                    <div>
                          <a routerLink="../detailsMyGame/{{game._id}}" class="btn btn-outline-primary">View Details</a>
                    </div>                                                          
            </div>
        </div>
    </div>
         
    <div *ngIf="mygames" class="row align-items-center justify-content-center">
        <pagination-controls
            id="allGames"
            (pageChange)="changePage($event)"
            maxSize="9"
            directionLinks="true"
            autoHide="true"
             previousLabel="Previous"
            nextLabel="Next"
            screenReaderPaginationLabel="Pagination"
            screenReaderPaginationLabel="page"
            screenReaderPaginationLabel="You're on page">
        </pagination-controls>
    </div>     
</div>