
<div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-4">
        
            <h1 class="group-item" [@list1]><strong> Special Thanks </strong></h1>
            <br/>
            <br/>
            <br/>
            <h3 class="group-item" [@list2]><ins><strong>For Angular Module</strong></ins></h3>
            <br/>
            <h3 class="group-item" [@list1]><strong>lector: </strong><i> Ivaylo Kenov </i></h3>
            <br/>
            <h3 class="group-item" [@list2]><strong>lector - assistent: </strong><i> Kiril Kirilov </i></h3>
            <br/>
            <h3 class="group-item" [@list1]><strong>lector - assistent: </strong><i> Ines Ivanova </i></h3>
            <br/>
            <h3 class="group-item" [@list2]><strong>lector: </strong><i> Viktor Kostadinov (othur JS modules)</i></h3>
            <br/>
       
      </div>
    </div>
</div>
