<div class="container-fluid" id="edit-game">
  <h2 class="h2 text-center">Edit Section</h2>
  <p class="text-center font-weight-bold text-warning">Only Admin can edited the game!</p>
  <div *ngIf="editFailed" class="alert alert-danger text-center">
    <p>{{errorMessage}}</p>
  </div>
  <div class="inner-container" *ngIf="gameEdit">
    <div class="image">
        <img [src]="formEdit.get('imageUrl').value" src="{{gameEdit.imageUrl}}">
    </div>
    <div class="content">
      <form [formGroup]="formEdit" (submit)="editGame()">
        <div class="row">
          <div class="field">
            <div *ngIf="formEdit.get('title').errors" class="text-danger">
              <div *ngIf="!!formEdit.get('title').errors.minlength">
                * Title be must least 3 symbols!
              </div>
              <div *ngIf="!!formEdit.get('title').errors.pattern">
                * Title be must start Capital letter after then only letters and digits!
              </div>
            </div>
            <label for="title">Title</label>
            <input type="text" formControlName="title" placeholder="{{gameEdit.title}}" id="title">
          </div>

          <div class="field">
            <div *ngIf="formEdit.get('publisher').errors" class="text-danger">
              <div *ngIf="!!formEdit.get('publisher').errors.minlength">
                * Publisher be must least 2 symbols!
              </div>
              <div *ngIf="!!formEdit.get('publisher').errors.pattern">
                * Publisher be must start Capital letter after then only letters and digits!
              </div>
            </div>
            <label for="publisher">Publisher</label>
            <input type="text" formControlName="publisher" placeholder="{{gameEdit.publisher}}" id="publisher">
          </div>

          <div class="field">
            <div *ngIf="formEdit.get('platform').errors" class="text-danger">
              <div *ngIf="!!formEdit.get('platform').errors.minlength">
                * Platform be must least 2 symbols!
              </div>
              <div *ngIf="!!formEdit.get('platform').errors.pattern">
                * PLatform be must start Capital letter after then only letters, digits and dashes!
              </div>
            </div>
            <label for="platform">Platform</label>
            <input type="text" formControlName="platform" placeholder="{{gameEdit.platform}}" id="platform">
          </div>
        </div>

        <div class="row">
          <div class="field">
            <div *ngIf="formEdit.get('genre').errors" class="text-danger">
              <div *ngIf="!!formEdit.get('genre').errors.minlength">
                * Genre be must least 3 symbols!
              </div>
              <div *ngIf="!!formEdit.get('genre').errors.pattern">
                * Genre be must start Capital letter after then only letters, dashes and space!
              </div>
            </div>
            <label for="genre">Genre</label>
            <input type="text" formControlName="genre" placeholder="{{gameEdit.genre}}" id="genre">
          </div>
          <div class="field">
            <div *ngIf="formEdit.get('date').errors" class="text-danger">
              <div *ngIf="!!formEdit.get('date').errors.min">
                * Date be must least 1996 year!
              </div>
              <div *ngIf="!!formEdit.get('date').errors.max">
                * Date be must the most 2020 year!
              </div>
            </div>
              <label for="date">Release Date</label>
              <input type="number" formControlName="date" placeholder="{{gameEdit.date}}" id="date">
          </div>
        </div>

        <div class="row">
          <div class="field">
            <div *ngIf="formEdit.get('imageUrl').errors" class="text-danger">
              <div *ngIf="!!formEdit.get('imageUrl').errors.pattern">
                * This is not imageUrl hyperlink!
              </div>
            </div>
            <label for="imageUrl">ImageUrl</label>
            <input type="text" formControlName="imageUrl" placeholder="{{gameEdit.imageUrl}}" id="imageUrl">
          </div>
          <div class="field">
            <div *ngIf="formEdit.get('trailerUrl').errors" class="text-danger">
              <div *ngIf="!!formEdit.get('trailerUrl').errors.pattern">
                * This is not Trailer hyperlink!
              </div>
            </div>
            <label for="trailerUrl">TrailerUrl</label>
            <input type="text" formControlName="trailerUrl" placeholder="{{gameEdit.trailerUrl}}" id="trailerUrl">
          </div>
          <div class="field">
            <div *ngIf="formEdit.get('downloadUrl').errors" class="text-danger">
              <div *ngIf="!!formEdit.get('downloadUrl').errors.pattern">
                * This is not Download hyperlink!
              </div>
            </div>
            <label for="downloadUrl">DownloadUrl</label>
            <input type="text" formControlName="downloadUrl" placeholder="{{gameEdit.downloadUrl}}" id="downloadUrl">
          </div>
        </div>

        <div class="row">
            <input type="submit" id="edit-btn" value="Edit Game" class="btn btn-warning btn-lg">
        </div>
      </form>

    </div>
  </div>
</div>
