<div class="container-fluid text-center" id="contact">
  <img src="../../../../assets/images/planets.jpg" id="img1">
  <img src="../../../../assets/images/Modern-Warfare.jpg" id="img2">
  <img src="../../../../assets/images/battlefield-soldier.jpg" id="img3">
  <img src="../../../../assets/images/the-witcher-3-wild-hunt.jpg" id="img4">
  <img src="../../../../assets/images/shadow-of-mordor.png" id="img5">
  <img src="../../../../assets/images/witcher3.png" id="img6">
  <img src="../../../../assets/images/RE1Z4TG.jpg" id="img7">
  <div class="inner-section">
    <div [@owner] ><span class="font-weight-bold">Owner: </span> Pavel Runchev</div>
    <div [@owner-username] ><span class="font-weight-bold">Username: </span> RAIDERS</div>
    <div [@owner-email] ><span class="font-weight-bold">Email: </span> Pavel.Runchev@gmail.com</div>
    <div [@owner-phone] ><span class="font-weight-bold">Phone: </span>0879 999 436</div>
    <div [@admin] ><span class="font-weight-bold">Admin: </span> Borislav Batkov</div>
    <div [@admin-username] ><span class="font-weight-bold">Username: </span> abobo</div>
    <div [@admin-email] ><span class="font-weight-bold">Email: </span> Setty_ii@abv.bg</div>
    <div [@admin-phone] ><span class="font-weight-bold">Phone: </span>0879 774 903</div>
    <div [@university] ><span class="font-weight-bold">Development University:</span> SoftUni</div>
    <div [@university-logo] class="pl-4"><img src="../../../../assets/logo/softuni-logo.png" alt="logo"></div>
    <div [@developer] ><span class="font-weight-bold">Developer:</span> RAIDERS</div>
    <div [@developer-logo] class="pl-4"><img src="../../../../assets/logo/raiders-team.jpg" alt="logo"></div>
  </div>
</div>
