<div class="container-fluid text-center" id="support">
    <h2 class="h2">Support Section</h2>
    <div class="inner-support">
      <h4 class="h4">Operation Systems</h4>
      <div class="text-left sys"><i class="fab fa-windows"></i>&nbsp; Windows</div>
      <div class="text-left sys"><i class="fab fa-android"></i>&nbsp; Android</div>

      <h4 class="h4">Support Browsers</h4>
      <div class="text-left"><img src="../../../../assets/logo/google_chrome.png" id="chrome">&nbsp; Chrome 71.0.3578.98</div>
      <div class="text-left"><img src="../../../../assets/logo/orig.png" id="firefox">&nbsp; Firefox 64.0.2</div>
      <div class="text-left"><img src="../../../../assets/logo/aurora.png" id="firefox-edition">&nbsp; Firefox Developer Edition 66.0b2</div>
      <div class="text-left"><i class="fab fa-edge"></i>&nbsp; Edge 42.17134.1.0</div>

      <h4 class="h4">Not Support Browsers!</h4>
      <div class="text-left"><i class="fab fa-opera"></i>&nbsp; Opera</div>
    </div>
</div>
