<!--The content below is only a placeholder and can be replaced.-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

            
                                <app-navigation></app-navigation>
                                <div class="col-4k" >
                                        <div class="col-md-2" style="float: left">
                                                <div class="jumbotron" >
                                                        <h1>
                                                                Board Games Catalog
                                                        </h1>
                                                        <p>Only for authentication users!</p>
                                                        <img src="../../assets/4899_gaming-hd-wallpapers_1920x1080_h.jpg" class="img-thumbnail">
                                                        </div>
                                                </div>  
                                        <div class="col-md-2"  style="float: right">
                                                <div class="jumbotron" >
                                                        <h1>
                                                          Board Games Catalog
                                                        </h1>
                                                        <p>Only for authentication users!</p>
                                                        <img src="../../assets/main_photo.jpg" width="400px" height="auto" class="img-thumbnail">
                                                </div>
                                        </div>
                                    <router-outlet></router-outlet>
                                </div>
                                <app-footer></app-footer>

               



