@import '../../../../assets/sass/animation';

nav {
  background: #bdcebe;

  & > a {
    color: #000;
    &:hover { color: #fff; }
  }

  // dropdown menu
  & .dropdown .dropbtn {
    font-size: 18px;
    border: none;
    outline: none;
    color: #000;
    padding: 8px 16px;
    background-color: inherit;
    font-family: inherit;
    cursor: pointer;
    margin: 0;
    &:hover { color: #fff; text-shadow: 2px 2px rgb(0,0,0); }
  }

  & .dropdown:hover .dropdown-content { display: block; }

  & .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    left: -2rem;
    z-index: 1;

    & a {
      float: none;
      color: #000;
      padding: 12px 16px;
      text-decoration: none;
      font-size: 18px;
      display: block;
      opacity: 0;
      text-align: left;
      border-radius: 0.6rem;
      background-color: rgba(189,206,190,1);
      -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
      &:hover {
        background-color: rgb(255,255,255);
        color: #bdcebe;
        right: -2rem;
        position: relative;
      }
      animation: navitem 0.5s ease forwards;

      @for $i from 1 through 6 {
        & a:nth-child(#{$i}) { animation-delay: $i * 0.4s; }
      }
    }
  }

  & #navbarColor01 {

    & li {
      opacity: 0;
      animation: navitem 0.5s ease forwards;
    }
    & a {
      font-size: 18px;
      color: #000;
      border-bottom: 1px solid #bdcebe;
      &:hover {
        color: #fff;
        text-shadow: 2px 2px rgb(0,0,0);
        border-bottom: 1px solid #fff;
      }
    }

    @for $i from 1 through 6 {
      & li:nth-child(#{$i}) { animation-delay: $i * 0.2s; }
    }
  }

  & .isAdmin {
    padding-right: 15%;
    & > h4 { width: 15rem; }
  }

  & .logout { float: right; position: relative; cursor:pointer; }
}

#logo {
  width: 50px;
  border-radius: 0.3rem;
}

#toast-container > div {
  opacity:1;
}
