footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: black;
    text-align: center;
    padding-top: 10px;
  }
  
  p {
    color: rgb(172, 63, 0);
  }