<footer>
    <section id="games-company">
      <img src="../../../../assets/logo/Ea-games.png" alt="logo" class="logo">
      <img src="../../../../assets/logo/cd-project-red.jpg" alt="logo" class="logo">
      <img src="../../../../assets/logo/Activision_Logo.jpg" alt="logo" class="logo">
      <img src="../../../../assets/logo/square-enix-logo.jpg" alt="logo" class="logo">
      <img src="../../../../assets/logo/capcom.jpg" alt="logo" class="logo">
      <img src="../../../../assets/logo/atari.png" alt="logo" class="logo">
      <img src="../../../../assets/logo/ubisoft.jpg" alt="logo" class="logo">
    </section>
    <section id="services">
      <article class="contacts">
        <h5>Contacts us</h5>
        <div>
          <div><i class="fas fa-map-marker-alt"></i> Prohlada Avenue 1</div>
          <div>Gabrovo, 5300 BG.</div>
        </div>
        <div>
          <div><i class="fas fa-envelope"></i> Pavel.Runchev@gmail.com</div>
        </div>
        <div>
          <div class="gsm"><i class="fas fa-phone"> 0879 999 436 Free call</i></div>
        </div>
      </article>
      <article class="links">
        <h5>Links</h5>
        <ul>
          <li><a routerLink="/supports/specialthanks" >Special Thanks</a></li>
          <li><a routerLink="/supports/contacts">Contact us</a></li>
          <li><a routerLink="/supports/support">Support</a></li>
          <li><a routerLink="/supports/softwaretechnology">Software Technology</a></li>
        </ul>
      </article>
      <article class="connect">
        <h5>Connect</h5>
        <div>Deployed in Github!</div>
        <p>
          <a class="fab fa-github" href="https://github.com/PavelRunchev"></a>
          <a class="fab fa-gitlab" href="https://gitlab.com/Runchev"></a>
          <a class="fab fa-facebook-f" href="https://www.linkedin.com/in/pavel-runchev-b4b58116b/"></a>
          <a class="fab fa-steam" href="https://store.steampowered.com/"></a>
          <a class="fab fa-linkedin-in" href="https://www.linkedin.com/in/pavel-runchev-b4b58116b/"></a>
          <a class="fab fa-skype" href="https://www.skype.com/bg/get-skype/"></a>
        </p>
        <p class="font-weight-bold"><i class="fas fa-balance-scale"></i> MIT License.</p>
      </article>
    </section>
    <section id="copyright" class="p-2">
        <div class="text-center">&copy; 2018/2019 Board Games, All Rights Reserved!</div>
        <div class="text-center">Powered by RAIDERS Team</div>
    </section>
</footer>


