
.jumbotron > img{
    height: 400px;
    width: 280px;
    
}

.jumbotron {
    background-image: url('../../../../assets/Airplane_Aircraft_carrier_Battlefield_3_Attack_523179_3840x2160.jpg');
    text-align: center;
    color: whitesmoke;
    border: 4px solid grey;
}

.search {
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

.search > h1{
    color: whitesmoke;
}

.search > p{
    color: whitesmoke;
}

.container {
    border: 4px solid grey;
 
}

.col-md-12 {
    text-align: center;
    color: whitesmoke;
}

.btn.btn-warning:hover {
    box-shadow: 2px 1px 2px 3px #f5dd08;
    background: rgb(248, 223, 1);
    color:black;
}







