
<div  class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-12">
            <h1>Games Catalog</h1>
            <p>Select game from the catalog to view details.</p>
        </div>
        <div class="search">
                <h1>Find game</h1>
                <p>Search for a game using the form below:</p> 
                <p>You must write a title of the game!</p>   
                <form #form="ngForm" (submit)="search(form.value.search)">
                    <input type="text" class="border border-secondary" name="search" ngModel>
                    <button type="sumbit" class="btn btn-warning">Search Game</button>
                    <div *ngIf="noSearchedResult"><h1 style="color: whitesmoke">No Search Games!</h1></div> 
                </form>  
        </div> 
    </div>           
     
    <div class="row" >
        <div *ngFor="let game of games | paginate : {
            id: 'allGames',
            itemsPerPage: pageSize,
            currentPage: currentPage}"
            class="col-md-4">
            <div class="jumbotron">
                <h5>{{game.title}}</h5>
                <img src="{{game.imageUrl}}" class="img-thumbnail"/>
                <h5>Release Date: {{game.date}}</h5>
                <div>
                  <a routerLink="../detailsGame/{{game._id}}" class="btn btn-outline-primary">View Details</a>
                </div>          
            </div>
        </div>
    </div>

    <div *ngIf="games" class="row align-items-center justify-content-center">
        <pagination-controls
            id="allGames"
            (pageChange)="changePage($event)"
            maxSize="9"
            directionLinks="true"
            autoHide="true"
            previousLabel="Previous"
            nextLabel="Next"
            screenReaderPaginationLabel="Pagination"
            screenReaderPaginationLabel="page"
            screenReaderPaginationLabel="You're on page">
        </pagination-controls>
    </div>               
</div>


     
                
